node_modules
package-lock.json

# CAP モジュール
04_aiAgentApp/cap/node_modules
04_aiAgentApp/cap/gen
04_aiAgentApp/mta_archives
04_aiAgentApp/node_modules
04_aiAgentApp/cap/.env

# Pythonモジュール
04_aiAgentApp/python/venv
04_aiAgentApp/python/utils/__pycache__
04_aiAgentApp/python/tool/__pycache__
04_aiAgentApp/python/repository/__pycache__